.my-movies-component {
	.movies-container {
		height: 90%;
		font-size: 0.75rem;

		.movie {
			font-size: 0.75rem;
			text-align: center;
			height: calc(50% - 1.5rem);
			width: auto;
			justify-content: space-between;

			a {
				color: var(--color-text);
			}

			img {
				object-fit: contain;
			}

			.movie-description {
				font-size: 0.75rem;
				text-align: justify;
			}
		}
	}
}
