.profile-image {
  width: 150px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .profile-image {
    width: 270px;
  }
}

@media (min-width: 1199px) {
  .profile-image {
    width: 350px;
  }
}
