.movies-container {
	height: 100%;
	font-size: 0.75rem;

	.movie {
		font-size: 0.75rem;
		text-align: center;
		height: calc(50% - 1.5rem);
		width: auto;
		justify-content: space-between;

		a {
			color: var(--color-text-title);
		}

		img {
			object-fit: contain;
			height: 85%;
		}

		.movie-description {
			font-size: 0.75rem;
			text-align: justify;
			color: var(--color-text-regular);
		}
	}
}
